body{
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
}
.colunas{
  display: flex;
}
.coluna1{
  margin-right: 20px;
  width: 70%;
  background-color: blue;
  color: white;
}
.coluna2{
  width: 30%;
  margin-left: 20px;
  background-color: yellow;
  color: black;
}
